HELP.md
target/
!**/src/main/**
!**/src/test/**
.gradle

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

transfer.bat
saved.png
data.sql

/.idea/*
!/.idea/codeStyles